{% extends ':Default:basic.html.twig' %}

{% block body %}
    <div class="container" id="bodyeventcat">
    <div class="col-xs-12 text-center ">
        <h1>Toutes nos catégories d'évènements</h1>
        <hr>
        <br>
        <div id="eventcat" class="col-xs-6 col-xs-offset-3">

                {% for categorie in categories %}
                <div class="col-xs-2 col-xs-offset-1 row text-justify" >
                    <h2><a href="{{ path('onecategorie') }}">
                            <span class="glyphicon glyphicon glyphicon-pencil"></span>
                            «{{ categorie.nomCa }}»
                            <br>
                            <img src="{{ categorie.imageCa }}" class="img-circle">
                    </a></h2>
                </div>
                    {% endfor %}

        </div>
    </div>
    </div>

{% endblock %}
