{% extends ':Default:basic.html.twig' %}

{% block body %}
    <body class="bodyeventcat">

        <h2 class="text-center">Toutes nos catégories d'évènements</h2>
        <br>
        <div class="jumbotron eventcat col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1 text-center">

                {% for categorie in categories %}
                    <div class="col-xs-4">
                        <a href="{{ path('onecategorie', {'id':categorie.id}) }}" class="thumbnail">
                            <img src="{{ categorie.imageCa }}" class="img-circle"><span>{{ categorie.nomCa }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </body>

{% endblock %}