{% extends ':Default:basic.html.twig' %}

{% block body %}
    <div class="container" id="bodyeventcat">
    <div class="col-xs-12">
        <h2 class="text-center">Toutes nos catégories d'évènements</h2>
        <br>
        <div id="eventcat" class="jumbotron col-xs-12">

            <div class="row col-xs-12 text-center">

                {% for categorie in categories %}
                <div class="col-xs-2 col-xs-offset-1">
                    <a href="{{ path('onecategorie') }}" class="thumbnail">
                        <img src="{{ categorie.imageCa }}" class="img-circle"><span>{{ categorie.nomCa }}</span>
                    </a>
                </div>
                    {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}