{% extends ':Default:basic.html.twig' %}

{% block body %}

<div class="col-xs-8 col-xs-offset-2">
        <div class="row">
            <h2>{{ article.titre }}</h2>

            <p>{{ article.texte }}</p>
            <p> par {{ article.utilisateur.username }}, le {{ article.date|date('d/m/Y') }}</p>
            <br>
        </div>
</div>

{% endblock %}