
{% extends ':Default:basic.html.twig' %}
{% block nav %}{% endblock %}

{% block body %}

    <div class="divcontact col-lg-12 col-xs-12">
        <div class="divformcontact col-lg-8col-lg-offset-2 col-xs-10 col-xs-offset-1">
            <h1 class="text-center">Envoyez nous votre témoignage !</h1>
            <p class="text-center">Votre événement a eu lieu, et vous souhaitez partager les bons moments avec vos proches?<br>
            Ecrivez quelques lignes et nous publierons votre témoignage : vous le verrez apparaître dans la liste d'ici 72H, <br>
                le temps pour nos équipes de contrôler son contenu.</p><br>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <br>
            <div class="col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1 text-center">
                <input class="btnformcon" type="submit" value="Envoyer" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    {% block footerblock %}{% endblock %}

{% endblock %}