/** CSS PAGE ACCUEIL DU SITE**/

body {
    padding-top: 50px;
    height: 100%;
}

#bodyacc {
    height: 100%;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

#logonav {
    max-width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.bienv {
    padding: 20px;
    background-color: #013F4E;
    color: white;
    text-align: center;
    margin: 0;
}

#logogd {
    max-width: 250px;
}

.bienv h2 {
    margin: 0;
    font-size: 2.5em;
    padding-top: 15px;
    text-align: center;
    color: white;
    text-shadow: #101010 1px 1px;
}

.bienv p {
    font-style: italic;
}

.lienacc, .lienacc2 {
    max-width: 100px;
    border: transparent;
    visibility: inherit;
}

@media (max-width: 900px) {
.lienacc2 {
    max-width: 100px;
    border: transparent;
    display: none;
    visibility: inherit;

}}


#btnsacc{
    padding-bottom:25px;
}

#divblog {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #013F4E;
    background-color: white;
}

#divblog h2 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #01717D;
    text-shadow: #101010 1px 1px;
}

#divblog img {
    max-width: 300px;
    max-height: 300px;
}

.thumbnail {
    background-color: transparent;
    border: transparent;
    max-width: 25em;
}

#divart3 {
    padding-left: 40px;
    padding-right: 40px;
}

#divart3 a{
    text-decoration: none;
    color: #1C2834;
}

#divart3 p{
    font-size: small;
}

#divevents {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: white;

}

#divevents h2 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    color: #01717D;
    text-shadow: #101010 1px 1px;
}

#divevents a, p{
    text-decoration: none;
    padding-top: 10px;
    margin: 0;
}

.lienevents {
    max-width: 300px;
}

li {
    text-align: center;
}

#divsondage {
    font-size: 1.2em;
    background-color: #DCB647;
    margin-bottom: 0;
    padding: 10px;
}

#divsondage h2 {
    margin: 0;
    padding-top: 15px;
    text-align: center;
    color: white;
    text-shadow: #C42730 2px 1px;
}

.picsondage {
    /*display: block;*/
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#divsondage a{
    text-decoration: none;
    color: white;
}

#btnoksond {
    border-radius: 15px;
    border-style: dashed;
    border-color: #C42730;
    background-color: #C42730;
    font-family: "Lie to Me";
    font-weight: bold;
    font-size: 1.2em;
    margin-left: -96px;
}

/*style de la page admin*/

h1, h2, h3{
    font-family: "Lie to Me";
}


#acc, #con{
    font-family: "Lie to Me";
    font-size: 1.8em;
    border: ridge 1px #2a2730;
    text-shadow: #F0DBDA 1px 1px;
    max-height: 50px;
}

#headerAdmin {
    background-color: #F5E5E5;
    padding: 2em;
    color: white;
    border-radius: 12px;
    border: dashed 1px white;
}

#headerAdmin h1 {
    color: #1C2834;
    margin: 1em;
}

#headerAdmin a {
    color: #1C2834;
}

.divine {
   margin-bottom: 1em;
}


.divine .btn-group {
    margin: 2em;
}

.divine .un {
    background-color: #FFAEA0;
    font-size: large;
}

.divine .trois {
    background-color: #D48286;
    font-size: large;
}

.divine .deux {
    background-color: #D5686E;
    font-size: large;
}

.divine ul {
    background-color: #FFC6BB;
}

#bodyAdmin {
    text-align: left;
    background-color: #F0DBDA;
    padding: 2em;
}

.bobody tbody tr:hover {
    background-color: #f5f5f5
}

.bobody table thead{
    background-color:#D48286 ;
    color: white;
}

.bobody li {
    text-align: left;
    font-weight: bold;
    list-style-type:none;
}

.bobody{
    padding: 2em;
    margin-top: 2em;
    background-color: #F5E5E5;
    border-radius: 20px;
}

.hiddendates {
    visibility: hidden;
    width: 100px;
    height: 20px;
}

.checkboxes {
    display: inline-table;
    width: 75%;
    text-align: left;
    background-color: #9d9d9d;
    padding: 12px;
    -webkit-column-count: 3;
}

.divformtem {
    background-color: #B0D4C8;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.divformtem label {
    width: 30%;
    height: 40px;
}


/** CSS FORMULAIRES ADMIN**/

.table-responsive{
    border-radius: 12px;
    max-width: 100%;
}

.tailletitlesforms {
    width: 800px;
    height: 50px;
}

.tailleautresforms {
    width: 400px;
    height: 50px;
}

.tailletextsforms {
    width: 800px;
    height: 200px;
}

.taillechoicesforms {
    width: 400px;
}

.bobody label{
    width: 150px;
    height: 50px;
}

.recent {
    background-color: #F5E5E5;
    border-radius: 10px;
    margin-top: 15px;
    border: dashed 1px white;
}

.artrecent {
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.artrecent a {
    /*text-decoration: none;*/
    color: #C42730;
}


/** CSS DU FORM CONTACT **/

.taillefcontact {
    width: 70%;
    height: 40px;
}

.taillemesscontact {
    width: 70%;
    height: 100px;
}

.divformcontact {
    background-color: #B0D4C8;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.divcontact {
    background-color: #013F4E;
    margin-top: -50px;
    width: 100%;
    height: 100%;
}

.divcontact label {
    width: 30%;
    height: 40px;
}
.btnformcon {
    width: 150px;
    height: 30px;
}

#clockbox{
    background-color: #B0D4C8;
    padding-top: 10px;
    margin-top: 5px;
    margin-right: 5px;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    color: white;
    text-shadow: #606970 1px 1px;
}

@media screen and (max-device-width: 500px){
    #clockbox {
        display: none
    }
    
}


/**CSS LISTE ARTICLES - BLOG**/

#divarticle {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #FFAEA0;
    border-radius: 20px;
    color: #1C2834;
}

#divarticle h2 > a{
    color: #C32830;
}

#divarticle img {
    max-height: 200px;
}

#btnartcpt {
    background-color: #D48286;
    color: white;
    font-size: 1em;
}

#btnartcpt:hover {
    background-color: #DFA7AA;
    color: #C32830;
}

#autdate {
    color: #606970;
}

.pageblog{
    padding-top: 20px;
    /*height: 100vh;*/
    width: 100%;
    background-color: #F0DBDA;
}

.pageblog h1 {
    color: #1C2834;
    font-weight: bold;
}

#divcomart {
    background-color: rgba(240, 219, 218, 1);
    color: #606970;
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: #1C2834;
    padding: 10px;
}

#btnlistart {
    margin-top: 20px;
    background-color: #D48286;
    color: white;
}

#btnlistart:hover {
    background-color: #DFA7AA;
    color: #C32830;
}

/**CSS LISTE TEMOIGNAGES **/

.divtem {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #01717D;
    border-radius: 20px;
    color: white;
    margin-bottom: 1em;
}

.divtem h2 > a, #divtem h2{
    color: #DCB647;
}

.divtem img {
    max-height: 200px;
}

.licat {
    text-decoration: none;
}

.hrcat {
    width: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: #C32830;
}

.divider {
    border-color: #C32830;
}

.btnsListeCat{
    margin-left: 7%;
    margin-right: 7%;
}

.btnsListeCat:hover {
    background-color: #C32830;
}

#btntemcpt, .btnlistemcpt {
    background-color: #DCB647;
    color: #1C2834;
    font-size: 1em;
}

#btntemcpt:hover, .btnlistemcpt:hover {
    background-color: #013F4E;
    color: #DCB647;
}

#autdatetem {
    color: #B0D4C8;
}

.pagetem {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    background-color: #B0D4C8;

}

#pagetem h1 {
    color: #1C2834;
    font-weight: bold;
}

.fondnewtem {
    background-color: #013F4E;
    width: 100%;
    height: 100vh;
}

.bodyformevent {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    background-color: #013F4E;
}

/** CSS CATEGORIES **/

.bodyeventcat {
    height: 100%;
    width: 100%;
    background-color: #B0D4C8;
}

.eventcat {
    border-radius: 20px;
    background-color: white;

}

.eventcat img {
    max-width: 13.5em;
}

.jumboevent {
    background-color: #013F4E;
    border-radius: 10px;
    margin-bottom: 1em;
    color: #B0D4C8;
}

.jumboevent h2 {
    color: #DCB647;
}

/** CSS FOOTER + chevron retour haut de page **/

.footercss {

    background-color: #013F4E;
    color: white;
    text-align: center;
}

.chevronup{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-style: hidden;
    padding-top: 9px;
    background-color: #C32830;
}

.chevronup:hover {
    background-color: #DFA7AA;
    color: #C32830;
}

.chevronup:checked {
    background-color: #D48286;
    color: #C32830;
}

