/** CSS PAGE ACCUEIL DU SITE**/

body {
    padding-top: 50px;
}

.navbar-brand {
    margin: 0px;
    padding: 0px;
}

#logonav {
    max-width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.jumbotron {
    padding: 15px;
    margin: 0;
    background-color: darkcyan;
    color: white;
    text-align: justify;
}

#logogd {
    max-width: 220px;
}

.jumbotron h2 {
    text-align: center;
    font-weight: bold;
}

#bienv p {
    font-style: italic;

}

.lienacc{
    max-width: 100px;
}

#divblog {
    padding-bottom: 20px;
    background-color: #01717D;
    color: white;

}

#divblog h2 {
    color: white;
}

.thumbnail {
    background-color: transparent;
    border: transparent;
    max-width: 25em;
}

#divevents {
    padding-bottom: 20px;
    background-color: #DCB647;
    color: white;
}

#divevents h2 {
    color: #1C2834;
}

li {
    text-align: center;
}

.img-circle span {
    visibility: hidden;
}

.img-circle img:hover + span {
    visibility: visible;
}




/*style de la page admin*/

h1{
    font-family: "Lie to Me";
}

h2{
    font-family: "Lie to Me";
}

#acc{
    font-family: "Lie to Me";
    font-size: 20px;
}

#headerAdmin {
    background-color: #F5E5E5;
    padding: 2em;
    color: white;
    border-radius: 12px;
}

#headerAdmin h1 {
    color: #1C2834;
    margin: 1em;
}

#headerAdmin a {
    color: #1C2834;
}

.divine {
   margin-bottom: 1em;
}


.divine .btn-group {
    margin: 2em;
}

.divine .un {
    background-color: #FFAEA0;
}

.divine .trois {
    background-color: #D48286;

}

.divine .deux {
    background-color: #D5686E;

}

.divine ul {
    background-color: #FFC6BB;
}

#bodyAdmin {
    text-align: left;
    background-color: #F0DBDA;
    padding: 2em;
}

.bobody tbody tr:hover {
    background-color: #f5f5f5
}

.bobody table thead{
    background-color:#D48286 ;
    color: #F5E5E5;
}

.bobody li {
    text-align: left;
    font-weight: bold;
    list-style-type:none;
}

.bobody{
    padding: 2em;
}

/** CSS FORMULAIRES ADMIN**/

.table-responsive{
    border-radius: 12px;
}

.tailletitlesforms {
    width: 800px;
    height: 50px;
}

.tailleautresforms {
    width: 400px;
    height: 50px;
}

.tailletextsforms {
    width: 800px;
    height: 200px;
}

.bobody label{
    width: 150px;
    height: 50px;

}

#clockbox{
    background-color: #B0D4C8;
    padding-top: 10px;
    margin-top: 5px;
    margin-right: 5px;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    color: white;
    text-shadow: #606970 1px 1px;
}


/**CSS LISTE ARTICLES - BLOG**/

#divarticle {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #FFAEA0;
    border-radius: 20px;
    color: #1C2834;
}

#divarticle h2 > a{
    color: #C32830;
}

#divarticle img {
    max-height: 200px;
}

#btnartcpt {
    background-color: #D48286;
    color: white;
}

#btnartcpt:hover {
    background-color: #DFA7AA;
    color: #C32830;
}

#autdate {
    color: #606970;
}

#pageblog{
    padding-top: 20px;
    background-color: #F0DBDA;
}

#pageblog h1 {
    color: #1C2834;
    font-weight: bold;
}

/**CSS LISTE TEMOIGNAGES **/

#divtem {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #01717D;
    border-radius: 20px;
    color: white;
}

#divtem h2 > a, #divtem h2{
    color: #8DE6B6;
}

#divtem img {
    max-height: 200px;
}

#btntemcpt, #btnlistemcpt {
    background-color: #DCB647;
    color: #1C2834;
}

#btntemcpt:hover, #btnlistemcpt:hover {
    background-color: #013F4E;
    color: #DCB647;
}

#autdatetem {
    color: #E6CB7E;
}

#pagetem{
    padding-top: 20px;
    background-color: #B0D4C8;
}

#pagetem h1 {
    color: #1C2834;
    font-weight: bold;
}

