body {
    padding-top: 50px;
}

.navbar-brand {
    margin: 0px;
    padding: 0px;
}

#logonav {
    max-width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.jumbotron {
    padding: 15px;
    margin: 0;
    background-color: darkcyan;
    color: white;
    text-align: justify;
}

#logogd {
    max-width: 220px;
}

.jumbotron h2 {
    text-align: center;
    font-weight: bold;
}

#bienv p {
   font-style: italic;

}

#btnsacc {
    padding: 0;
    padding-top: 10px;
}

#divblog {
    padding-bottom: 20px;
    background-color: #ebcccc;
    color: white;
}

.thumbnail {
    background-color: transparent;
    border: transparent;
    max-width: 25em;
}

#divevents {
    padding-bottom: 20px;
    background-color: gold;
    color: white;
}

li {
    text-align: center;
}

/*style de la page admin*/

#menuadmin li {
    text-align: left;;
}

