{% extends ':Default:basic.html.twig' %}

{% block body %}
<div id="formbirthday" class="container-viewport">

    <h1>Planifier mon événement </h1>
        <h2>Je crée ma 'To Do List' :</h2>


        <div class="bobody">

            {{ form_start(form) }}
            {{ form_widget(form) }}<br>
            <input type="submit" value="Valider ma 'To Do List'"/>
            {{ form_end(form) }}
            <hr>
        </div>

</div>
{% endblock body %}